.description {
    margin: 10vh 10vw 5vh 5vw;
    font-family: "Times New Roman", Times;
}

.description-name {
    margin-bottom: 5px
}

.description-info {
    margin-top: 5px;
    color: rgb(126, 124, 124);
}

.description-quote {
    font-style: italic;
    color: rgb(126, 124, 124);
    width: 65%;
    border-left: 5px solid #7AD6BB;
    padding-left: 40px;
    position: relative;
}