.header {
    height: 180px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    background: url('../static/sand3.jpg') no-repeat;
    background-size: cover;
}

.navbar {
    height: 50px;
    width: 100%;
    background-color: #7AD6BB;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a.is-active .btn-container {
    border: 1px solid white;
}

.btn-container {
    margin: 10px 30px 10px 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin .3s ease
}

.btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.describe-btn {
    background: url('../static/account.png') no-repeat;
}

.photos-btn {
    background: url('../static/image.png') no-repeat;
}

.avatar {
    background: url('../static/marilyn3.png') no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid lightgrey;
    position: absolute;
    position: fixed;
    top: 40px;
    left: 50px;
    background-size: cover;
    transition: width .3s ease, top .3s ease, height .3s ease;
}