@import 'header.css';
@import 'description.css';
@import 'photos.css';
@import 'loader.css';
body, html {
    margin: auto;
}

.page {
    height: calc(100% - 180px);
    padding-top: 250px;
    width: 780px;
    margin: 0 auto;
    transition: width .3s ease;
}

@media only screen and (max-width: 800px) {
    .page {
        width: 520px;
    }
    .avatar {
        height: 100px;
        width: 100px;
        top: 80px
    }
}

@media only screen and (max-width: 540px) {
    .page {
        width: 260px;
    }
    .btn-container {
        margin: 10px;
    }
}