.photos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.photo {
    margin: 5px;
    flex: 1 1 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0
}